<!doctype html>
<html lang="en">
<head>
<style>
input[type="text"] {
  width:200px;
  display:block;
  margin:10px 0;
}
</style>
</head>
<body>
<h1>Please enter a phone number</h1>
<form action="/send" method="POST">
  <input type="text" name= 'number' placeholder="enter a phone number"/>
  <input type= "submit" value= "send me text!"
</form>
 </body>
</html>
